@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

/*·········
Reset
···········*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/*····························
Estilos del NavBar
······························*/
.ctaUsBtn,
.navFather {
  background-color: #24252A;
}

.navLinksLi,
.ctaUsBtn,
.navLink {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
  max-height: 100px;
  cursor: pointer;

}


.navFather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.navBarLinks {
  list-style: none;

}

.navBarLinks li {
  display: inline-block;
  padding: 0px 20px
}

.navBarLinks li a {
  transition: all 0.3s ease 0s;
}

.navBarLinks li a:hover {
  color: #0088a9
}

/*Estilos del Botón de Contactanos*/
.ctaUsBtn {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;

}

.ctaUsBtn:hover {

  background-color: rgba(0, 136, 169, 0.8);
}

.shopCartImg {
  max-height: 30px;

}

/*Estilos del Boton del Carrito*/
.divShopCart {
  border-radius: 50px;
  height: 60px;
  width: 60px;
  min-width: 60px;
  background-color: rgba(0, 136, 169, 1);
  transition: all 0.3s ease 0s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.divShopCart:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.cartNotificationsNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  background-color: red;
  font-size: 15px;
  color: #edf0f1;
  top: 2px;
  right: 2px;
}

/*························
Fin de estilos del NavBar
··························*/




/*········································
 Estilos para el Contador de items 
 ·········································*/
.itemCountDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60%;
}

.counterDiv {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding-bottom: 5px;

}

.decreaseBtn,
.increaseBtn {
  display: flex;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 0px;

}

.addToCartBtn {
  display: flex;
  background-color: #24252A;
  color: #edf0f1;
  width: 80%;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 0px 10px;
  cursor: pointer;
  margin-bottom: 0px;
}


/*········································
  Fin de estilos para el Contador de items 
 ·········································*/



/*··········································
Estilo de las tarjetas
············································*/
.itemsStyledContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.singleItemContainer {
  display: flex;
  flex-direction: column;
  width: 325px;
  max-height: 490px;
  margin: 0px;
  padding: 55px;
  transition: all 0.3s ease 0s;
  position: relative;
}

.singleItemContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 25px, rgba(0, 0, 0, 0.12) 0px -10px 23px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 10px 11px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/*·······HoverStlyes··········*/
.singleItemContainer:hover .itemDescriptionPar {
  color: black;
}

.itemHoverInfo {
  display: none;
  transition: all 0.3s ease 0s;


}

.itemPriceDiv {
  font-weight: 1000;
}

.singleItemContainer:hover .itemHoverInfo {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.19);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  overflow: visible;
}

.itemPriceDiv,
.itemStockContainer,
.itemDetailContainer {
  padding: 3px;
  background-color: #edf0f1;
  border-radius: 50px;
  max-width: 150px;
  text-decoration: none;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  background-color: rgba(0, 136, 169, 1);
  color: #edf0f1;
}

.itemPriceDiv:hover,
.itemStockContainer:hover,
.itemDetailContainer:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/*·····Fin HoverStyles·······*/

.itemImageTag {
  max-height: 200px;
  max-width: 100%;

}

.itemFooterDiv {
  display: flex;
  flex-direction: row;
}


.itemTitlePar {
  font-weight: 700;
}

.itemDescriptionPar {
  font-weight: 400;
  color: grey;
  transition: all 0.3s ease 0s;
}






/*··········································
Fin De Estilo de las tarjetas
············································*/
/*··········································
Estilo del item Detail
············································*/
.detailFatherContainer {
  display: flex;
  flex-direction: row;
}

.imageDivItemDetail {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 33vw;
}

.imageItemDetail {
  max-height: 50%;
}


.infoDivItemDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.priceDivItemDetail {
  font-weight: 600;
  color: #42d189;
  background-color: #24252A;
  border-radius: 60px;
  padding: 5px;
}

/*··········································
Fin De Estilo de Item Detail
············································*/