@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.ctaUsBtn,
.navFather {
  background-color: #24252A;
}

.navLinksLi,
.ctaUsBtn,
.navLink {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
  max-height: 100px;
  cursor: pointer;

}

.ctaUsBtn {
  padding: 2px 40px;
}

.navFather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.navBarLinks {
  list-style: none;

}

.navBarLinks li {
  display: inline-block;
  padding: 0px 20px
}

.navBarLinks li a {
  transition: all 0.3s ease 0s;
}

.navBarLinks li a:hover {
  color: #0088a9
}

.ctaUsBtn {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;

}

.ctaUsBtn:hover {

  background-color: rgba(0, 136, 169, 0.8);
}